@layer base {
  .tech-swiper {

    padding-bottom: 40px !important;
  }

  .tech-swiper .swiper-slide svg {
    transform: translateZ(0);
  }

  .tech-swiper .swiper-pagination {
    bottom: 10px !important;
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .tech-swiper .swiper-pagination-bullet {
    width: 24px !important;
    height: 3px !important;
    border-radius: 5px !important;
    background: var(--color-icon-primary) !important;
    opacity: 0.15;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .tech-swiper .swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -5px;
    right: -5px;
  }

  .tech-swiper .swiper-pagination-bullet-active {
    opacity: 0.8;
    width: 48px !important;
    background: var(--color-icon-primary) !important;
  }
}
