.swiper.tech-swiper {
  padding-bottom: 40px;
}

@layer base {
  .tech-swiper {
    --swiper-pagination-bottom: 10px;
    --swiper-pagination-bullet-width: 24px;
    --swiper-pagination-bullet-height: 3px;
    --swiper-pagination-bullet-border-radius: 5px;
    --swiper-pagination-bullet-inactive-color: var(--color-icon-primary);
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-color: var(--color-icon-primary);
  }

  .tech-swiper .swiper-slide svg {
    transform: translateZ(0);
  }

  .tech-swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .tech-swiper .swiper-pagination-bullet {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .tech-swiper .swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -5px;
    right: -5px;
  }

  .tech-swiper .swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: 48px;
  }
}
