@layer base {
  .dark:root {
    /* Fundo & texto */
    --color-background: var(--palette-black);
    --color-text-primary: var(--palette-white);

    /* Botões */
    --color-button-primary-surface: var(--palette-neutral-800);
    --color-button-primary-surface-hover: var(--palette-neutral-700);
    --color-button-primary-content: var(--palette-neutral-100);

    --color-button-secondary-surface: var(--palette-neutral-100);
    --color-button-secondary-surface-hover: var(--palette-white);
    --color-button-secondary-content: var(--palette-black);

    /* Ícone */
    --color-icon-primary: var(--palette-neutral-100);
    --color-icon-primary-hover: var(--palette-white);

    /* Skeleton */
    --color-skeleton-surface: var(--palette-neutral-700);

    --color-card-surface: var(--palette-white-02);
    --color-card-border: var(--palette-white-20);
    --color-tag-border: var(--palette-neutral-700);

    /* Scrollbar */
    --color-scrollbar-thumb: var(--palette-scrollbar-dark);
    --color-scrollbar-thumb-hover: var(--palette-scrollbar-dark-hover);

    --noise-opacity: 0.15;
  }
}
